@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


@if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("UserReadAndWrite"))
{
    <div id="calendar" class="calendar"></div>
}
else
{
    <div id="calendarAlsoRead" class="calendar"></div>
}
<div class="footer">
    <div id="btnexit">@Html.ActionLink("Выйти", "LogOff", "Account")</div>
</div>

@*<div id="dialog">
        <div class="form-group">
            <label for="NameEvent">Название события</label>
            <input type="text" class="form" id="NameEvent" placeholder="Название события" required="required" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="StartEvent">Начало события</label>
            <input type="text" class="form" id="StartEvent" placeholder="Начало события" required="required" autocomplete="off">
        </div>
        <div class="checkbox">
            <div class="form-group">
                <label for="EndEvent">Конец события</label>
                <input type="text" class="form" id="EndEvent" placeholder="Конец события" required="required" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                <textarea class="form-" id="description" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-success" onclick="CreateEvent(this.form)">Добавить</button>
        </div>
    </div>*@

<!-- Форма добавления нового события -->
<form role="form" id="addeventform">

    <div id="dialog">
        <!-- Поле для ввода заголовка -->
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="title">Заголовок:</label>
                <input type="text" class="form-control" id="title" placeholder="Название" autocomplete="off" name="Name">
            </div>
        </div>

        <!-- Поле для ввода начала события -->
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="StartTime">Дата и время начала:</label>
                <input type="text" class="form-control" id="StartTime" placeholder="Начало события" autocomplete="off">
            </div>
        </div>

        <!-- Поле для ввода конца события -->
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="EndTime">Дата и время завершения:</label>
                <input type="text" class="form-control input-sm" id="EndTime" placeholder="Конец события" autocomplete="off">
            </div>
        </div>

        <!-- Подробное описания события -->
        <div class="row">
            <div class="form-group col-xs-6">
                <a href="#" data-toggle="collapse" data-target="#Description" style="color: #0000ff">Подробное описание</a>
                <textarea class="form-control input-sm collapse" rows="3" id="Description"></textarea>
            </div>
        </div>

        <!-- Выбор переговорки -->
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="Room">Место проведения:</label>
                <select class="form-control input-sm" id="Room">
                    <option value="1">Переговорка 1</option>
                    <option value="2">Переговорка 2</option>
                </select>
            </div>

            <!-- Выбор цвета -->
            <div class="form-group col-xs-6">
                <label for="colorselector">Цвет:</label>
                <select id="colorselector">
                    <option value="#A0522D" data-color="#A0522D">sienna</option>
                    <option value="#CD5C5C" data-color="#CD5C5C">indianred</option>
                    <option value="#FF4500" data-color="#FF4500">orangered</option>
                    <option value="#008B8B" data-color="#008B8B">darkcyan</option>
                    <option value="#B8860B" data-color="#B8860B">darkgoldenrod</option>
                    <option value="#32CD32" data-color="#32CD32">limegreen</option>
                    <option value="#FFD700" data-color="#FFD700">gold</option>
                    <option value="#48D1CC" data-color="#48D1CC">mediumturquoise</option>
                    <option value="#87CEEB" data-color="#87CEEB">skyblue</option>
                    <option value="#FF69B4" data-color="#FF69B4">hotpink</option>
                    <option value="#CD5C5C" data-color="#CD5C5C">indianred</option>
                    <option value="#87CEFA" data-color="#87CEFA">lightskyblue</option>
                    <option value="#6495ED" data-color="#6495ED">cornflowerblue</option>
                    <option value="#DC143C" data-color="#DC143C">crimson</option>
                    <option value="#FF8C00" data-color="#FF8C00">darkorange</option>
                    <option value="#C71585" data-color="#C71585">mediumvioletred</option>
                    <option value="#000000" data-color="#000000">black</option>
                </select>
            </div>
        </div>

        <!-- Выбор Участников события -->
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="selectmembers">Участники:</label>
                @*<select class="selectpicker dropup" id="selectmembers" data-style="btn-default" multiple data-max-options="13" data-live-search="true" data-selected-text-format="count" data-width="50%" data-size="10">*@
                <select class="selectpicker dropup" id="selectmembers" data-style="btn-default" multiple data-max-options="13" data-live-search="true" data-size="10">
                    <option></option>
                </select>
            </div>
        </div>

        <!-- Кнопка добавить -->
        <div class="form-group">
            <button type="submit" id="save" class="btn btn-success btn-addevent" data-url=@Url.Action("AddEvent", "Logic")>Добавить</button>
        </div>

        <!-- Поле для вывода ошибок -->
        <span id="error-message-title"></span>
    </div>
</form>




<div id="eventinfo">
    <div class="form-group">
        <div><b>Когда:</b> <span id="when"></span></div>
        <div><b>Описание:</b> <span id="description"></span></div>
        <div><b>Место:</b> <span id="location"></span></div>
        <div><b>Участники:</b> <span id="members"></span></div>

    </div>


    <button class="btn btn-danger" id="btnDelete" cust="" return="false" data-url=@Url.Action("RemoveEvent", "Logic")>Удалить</button>
    <button class="btn btn-warning" onclick="CreateEvent(this.form)">Изменить</button>

</div>
