
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
   
</head>
<body>
    <h2>@Html.ActionLink("Войти", "Login", "Account")</h2>
</body>
</html>






