/*Общий стиль для частичного представления с календарём*/
#mycalendar {
    font-size: 12px;
    width: 60%;
    float: left;
    background-color: rgba(149, 152, 139, 0)
}

/*Таблица календаря*/
.calendar-table>tbody>tr>td{
    /*min-width: 111px;*/
    /*max-height: 97px;*/
    
    width: 150px;
    height: 81px;

}
.calendar-table {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 1px solid rgba(0,0,0,0.1); /* Параметры рамки */
}

/*вертикальный div с числом в календаре */
.data {
    font-weight: bold;
    background-color:rgba(243, 243, 243, 0.01);
    height: 81px;
    width: 20px;
    text-align: center;
    outline: thick;
    float: left;
}
/*Горизонтальные div-ы  c названием событий в календаре*/
.inner {
    background-color:rgba(255, 255, 255, 0.06);
    
    margin-bottom: 1px;
    margin-left: 2px;
    margin-right: 2px;
    /*float: right;*/
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
    
    /*width: auto;*/
    height: 15px;
    
   
}

.remove-event-calendar {
  
    background-color:rgba(255, 255, 255, 0.06);
    width: 10px;
 
    /*outline: thick;*/
    /*float: right;*/
    margin-top: 4px;
    margin-right: 2px;
    
    
}

.today {
    
    background-color: rgba(181, 51, 51, 0.08);
}




