
/*Общий стиль для частичного представления с календарём*/
#calendar {
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    max-width: 64%;
    margin-left: 50px;
    float: left;
}

.schedule {
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 700px;
    margin-right: 50px;
    float: right;
}

.addform {
    float: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}


/*вертикальный div с числом в календаре */
.data {
    font-weight: bold;
    /*background-color: rgba(3, 169, 244, 0.44);*/
    height: 152px;
    width: 30px;
    text-align: center;
    outline: thick;
    float: left;
}
/*Горизонтальные div-ы  c названием событий в календаре*/
.inner {
    /*background-color:rgba(204, 255, 144, 0.43);*/
    width: 177px;
    border-radius: 5px;
    margin-bottom: 1px;
    float: right;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
}



.header {
    height: 60px;
    padding: 40px 25px 10px 40px;
    margin-bottom: 40px;
}


.footer {
    color: #ffffff;
    height: 50px;
    background-color: #284a38;
    padding: 10px 25px 10px 25px;
    margin-bottom: 15px;
    clear: both;
}


/*========всплывающее окно==========*/
/*========Затемняющий фон==========*/
.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(7,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top:0px;
    margin-left: -50px;
}

/*========Содержимое==========*/
    .b-popup .b-popup-content {
        margin: 250px auto 0px auto;
        width: 470px;
        height: 538px;
        padding: 15px;
        background-color: #ffffff;
        /*border-radius: 10px;*/
        box-shadow: 0px 0px 10px #000;
        /*border: 5px solid #d2ee86;*/
        border-radius: 20px;

    }
    .b-popup-content h2 {
        background-color: #f95252;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
    margin-top:0px;

    }


.message {
      
    height: 100px;
    padding: 9px;
    border: 1px solid #a3b670;
    border-radius: 15px;
    background-color: #dff0d8;
    color: #136316;
}


