@model ldap.Models.ScheduleModel





<div id="schedule">
    <center><h2>Расписание: @Model.curentDate.ToString("dddd dd MMMM")</h2></center>
   
    <table width="1017" align="center" class="table table-striped table-hover table-bordered ">


        @{
            for (int i = 0; i < 24; i++)
            {
                <tr>
                    <td height="30" width="80"><center><b>@i :00</b></center></td>
                    <td>
                        @foreach (ldap.Models.Event b in Model.eventList)
                        {
                            DateTime data = Model.curentDate;

                            DateTime start = new DateTime(data.Year, data.Month, data.Day, i, 0, 0);
                            DateTime end = new DateTime(data.Year, data.Month, data.Day, i, 0, 0).AddHours(1);

                            if (!(b.StartTime >= end || b.EndTime < start))
                            {
                                <b>@String.Format("{0}:{1}-{2}", b.DescriptionEvent, b.StartTime.ToShortTimeString(), b.EndTime.ToShortTimeString())</b> ;

                            }
                        }
                    </td>
                </tr>

            }
        }
    </table>

</div>