@model ldap.Models.Event

<center><h2>Все мероприятия на текущий момент </h2></center>
    @*<div>
            @using (Html.BeginForm("ShowPeriod", "Logic"))
            {

                //<form method="post" action="">

                    <p>Введите начало </p>
                    <input type="text" name="FilterStartEvent" />
                    <p>Введите конец :</p>
                    <input type="text" name="FilterEndEvent" />
                    <input type="submit" value="Отправить" />
                //</form>
            }
        </div>*@


    <div>
        <table class="table-striped table-bordered table-bordered table-hover table-condensed" align="center">
            <thead class="thead-inverse">
                <tr>
                    <th>Мероприятие</th>
                    <th>Дата начала</th>
                    <th>Дата конца</th>
                    <th>Автор</th>
                    <th>Удаление</th>
                </tr>
            </thead>
            @foreach (ldap.Models.Event b in ViewBag.Events)
            {
                <tr>
                    <td align="center">@b.DescriptionEvent</td>
                    <td align="center">@b.StartTime</td>
                    <td align="center">@b.EndTime</td>
                    <td align="center">@b.UserID</td>
                    <td align="center"><a class="btn btn-default" href="/Logic/RemoveEvent?event_id=@b.id&param2=333" role="button">Удалить</a></td>
                </tr>
            }
        </table>
    </div>
