@model ldap.Models.LogicModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{
    ViewBag.Title = "Logic";
}

<script>
    //Перезагружает календарь
    function reloadCalendar(year, month, day) {
        $('#calendar').load('_getCalendar', { 'year': year, 'month': month, 'day': day });
    }

    //Загружает список событий в этот день
    function loadEventsOfDay(currentDate) {
        $('#eventsofday').load('_getEventsOfDay', { 'currentDate': currentDate });
    }
    // отображает список названий мероприятий в табличке
    function ShowEventsInTable(nameEvent) {
        $('#eventsofday').load('_getCalendar', { 'currentDate': nameEvent });
    }

</script>

<div class="row">
    <div class="col-md-3">
        <div id="calendar">
            @Html.Partial("_getCalendar", Model.calendarModel)
        </div>
    </div>
    <div class="col-md-offset-7">
        <div id="eventsofday">
            @Html.Partial("_getEventsOfDay", Model.eventList)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("UserReadAndWrite"))
        {
            @Html.Partial("_addEventForm", Model.calendarModel)
        }
    </div>
</div>


@Html.ActionLink("Выйти", "LogOff", "Account")




@*Выводит список всех событий
    Html.Partial("_eventList", new ldap.Models.Event())*@