@using ldap.Models

@model LogicModel


@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{
    ViewBag.Title = "Logic";
}

@*<script>
    //Перезагружает календарь
    function reloadCalendar(year, month, day) {
        $('#calendar').load('_getCalendar', { 'year': year, 'month': month, 'day': day });
    }

    //Загружает список событий в этот день
    function loadEventsOfDay(currentDate) {
        reloadSchedule(currentDate)
        $('#eventsofday').load('_getEventsOfDay', { 'currentDate': currentDate });

    }
    // отображает список названий мероприятий в табличке
    function ShowEventsInTable(nameEvent) {
        $('#eventsofday').load('_getCalendar', { 'currentDate': nameEvent });
    }

    //Перегружает расписание на день
    function reloadSchedule(currentDate) {
        //alert("Привет из функции reloadSchedule")
        $('#schedule').load('_daySchedule', { 'currentDate': currentDate });
    }
</script>*@




<div class="header"><img class="logo" src="~/Content/img/lime-zaim.png" /> </div>

<div id="mycalendar">
    @Html.Partial("_getCalendar", Model.calendarModel)
</div>

<div class="schedule" id="schedule">@Html.Partial("_daySchedule", new ScheduleModel { eventList = Model.eventList, curentDate = Model.calendarModel.curentDate })</div>


<div class="footer">@Html.ActionLink("Выйти", "LogOff", "Account")</div>






