@model ldap.Models.LogicModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{
    ViewBag.Title = "Logic";
}

<script>
    function reloadCalendar(year, month, day)
    {
        //alert('year=' + year + ' month=' + month);
        $('#calendar').load('_getCalendar', { 'year': year, 'month': month, 'day': day });
    }

    function loadEventsOfDay(currentDate) {
   //DateTime ff = new DataTime(year, month, mem);
        //alert(year, month, mem);
        $('#eventsofday').load('_getEventsOfDay', { 'currentDate': currentDate });
    }

</script>


<div id="calendar">
    @Html.Partial("_getCalendar", Model.calendarModel)
</div>


<div id="eventsofday">
    @Html.Partial("_getEventsOfDay", Model.eventList )
</div>


@*Выводит список всех событий
Html.Partial("_eventList", new ldap.Models.Event())*@



@if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("UserReadAndWrite"))
{
    @Html.Partial("_addEventForm", Model.calendarModel)
}



@Html.ActionLink("Выйти", "LogOff", "Account")




