@using ldap.Models

@model LogicModel


@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{
    ViewBag.Title = "Logic";
}

@*<script>
    //Перезагружает календарь
    function reloadCalendar(year, month, day) {
        $('#calendar').load('_getCalendar', { 'year': year, 'month': month, 'day': day });
    }

    //Загружает список событий в этот день
    function loadEventsOfDay(currentDate) {
        reloadSchedule(currentDate)
        $('#eventsofday').load('_getEventsOfDay', { 'currentDate': currentDate });

    }
    // отображает список названий мероприятий в табличке
    function ShowEventsInTable(nameEvent) {
        $('#eventsofday').load('_getCalendar', { 'currentDate': nameEvent });
    }

    //Перегружает расписание на день
    function reloadSchedule(currentDate) {
        //alert("Привет из функции reloadSchedule")
        $('#schedule').load('_daySchedule', { 'currentDate': currentDate });
    }
</script>*@




<div class="header"><img class="logo" src="~/Content/img/lime-zaim.png" /> </div>

<div id="calendar">
    @Html.Partial("_getCalendar", Model.calendarModel)
</div>

<div class="schedule" id="schedule">@Html.Partial("_daySchedule", new ScheduleModel { eventList = Model.eventList, curentDate = Model.calendarModel.curentDate })</div>


<div class="footer">@Html.ActionLink("Выйти", "LogOff", "Account")</div>



<script>
$(function() {
    $.map($("tr:first td"),
        function(b, a) {
            return $("tr td:nth-child(" + ++a + ")");
        }).forEach(function(b) {
        var a;
        b.each(function (b, c) {
            (a && a.textContent == c.textContent ? ($(c).remove(), a.rowSpan++) : a = c);
        });
    });
});

</script>


<table border="1">
    <tr>
        <td rowspan="3">Чай</td>
        <td>text 4</td>
    </tr>

    <tr>
        <td>Встреча</td>
    </tr>

    <tr>
        <td>Переговоры</td>
    </tr>
    

    <tr>
        <td>b</td>
        <td>bb</td>
        
    </tr>
    <tr>
        <td>b</td>
        <td>bb</td>
        <td>text 5</td>
    </tr>
    <tr>
        <td>c</td>
        <td>bb</td>
        <td>text 6</td>
    </tr>
    <tr>
        <td>c</td>
        <td>cc</td>
        <td>text 7</td>
    </tr>
</table>



